<footer class="footer fixed-content container-fluid footer py-5 bg-dark">
  <div class="row">
    <div class="col text-white text-center">
      <h5>Resort Booking System</h5>
      Our aim is to make you easier to find desired hotel at your fingertip.
    </div>

    <div class="col text-white text-center">
      <h5>Contact Us</h5>
      Phone   :  +91 94XXXXXX10
      <br> 
      E-mail  :  resortbookingsystem@myresort.org
    </div>
  </div>
</footer>
