<nav class="fixed-content navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Resort Booking System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <% if(locals.user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/users">Profile</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/users/status">Booking Status</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        <% } %>

        <li class="nav-item">
          <a class="nav-link" href="/aboutus">About Us</a>
        </li>
      </ul>

      <% if (locals.user) { %>
        <form class="d-flex" action="/logout?_method=DELETE" method="POST">
          <button class="btn btn-outline-success" type="submit">Log Out</button>
        </form>
      <% } %>

    </div>
  </div>
</nav>
