<div class="about">
  <p class="display-3 heading">Resort Booking System</p>
  <p class="display-6">
    Our aim is to make you easier to find desired hotel at your fingertip. <br>
    This project is intended to help both resort manager, by storing and managing reosrt detials and customers, by showing variety of resorts. <br>
    People who need resort can log in to this application and choose desired resort. <br>
  </p">

</div>

<div class="contact">
  <p class="display-3 heading">Contact Us</p>
  <p class="display-6">Phone   :  +91 94XXXXXX10</p>
  <p class="display-6">E-mail  :  resortbookingsystem@myresort.org</p>
</div>
