<div id="searchbar">
  <form class="d-flex" action="/" method="post">
    <input class="form-control me-2" type="search" placeholder="Search" name="q">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item">
      <!-- svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#555" dy=".3em">First slide</text></svg-->
      <img src="/images/resort1.jpg">

    </div>
    <div class="carousel-item">
      <!-- svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Second slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text></svg-->
      <img src="/images/resort2.jpg">

    </div>
    <div class="carousel-item active">
      <!-- svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Third slide" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#555"></rect><text x="50%" y="50%" fill="#333" dy=".3em">Third slide</text></svg-->
      <img src="/images/resort3.jpg">

    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br><br>


<div class="resort-list">
  <div class="card" style="width: 25rem;">
      <!-- svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg-->
      <img src="/images/resort4.jpg">
    
      <div class="card-body">
        <h5 class="card-title">Misty Lake Resort </h5> 
        <p class="card-text">Simple rooms with balconies in an unpretentious hillside resort offering a restaurant &amp; a BBQ area.</p>
        <a href="#" class="btn btn-primary">Book Now!</a>
      </div>
    </div>

    
    <div class="card" style="width: 25rem;">
    <!-- svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg-->
    <img src="/images/resort2.jpg">
  
    <div class="card-body">
      <h5 class="card-title">Olimpia Park Resort</h5> 
      <p class="card-text">The spacious suites in the resort are equipped with a smart flat-screen TV with cable channels, air conditioning, WiFi and a minibar. Guests also benefit from a dining area and an equipped kitchenette, which includes a microwave.</p>
        <a href="#" class="btn btn-primary">Book Now!</a>
    </div>
  </div>


  <div class="card" style="width: 25rem;">
      <!-- svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg-->
      <img src="/images/resort5.jpg">
    
      <div class="card-body">
        <h5 class="card-title">Green Valley Vista</h5>
        <p class="card-text">Green Valley Vista features laundry and luggage storage facilities. Guests can enjoy spectacular views of the surrounding area from the terrace, work out in the fitness centre or explore the area via the car rental facility provided.Each fan-cooled room features a wardrobe, desk, flat-screen TV and minibar. The attached bathroom has shower facilities.
      </p>
        <a href="#" class="btn btn-primary">Book Now!</a>
      </div>
    </div>

    
    <div class="card" style="width: 25rem;">
    <!-- svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg-->
    <img src="/images/resort6.jpg">
  
    <div class="card-body">
      <h5 class="card-title">Elixir Hills Suites Resort</h5>
      <p class="card-text">Guest rooms at the resort are equipped with a seating area, a flat-screen TV and a safety deposit box. Elixir Hills Suites Resort and Spa features certain rooms that include a balcony and pool view, and each room is fitted with a private bathroom and a desk. All guest rooms have a wardrobe.</p>
        <a href="#" class="btn btn-primary">Book Now!</a>
    </div>
  </div>
</div>

